@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Cairo&family=Charis+SIL&family=Cormorant+Garamond:ital,wght@1,300;1,400&family=Cormorant:wght@300&family=Dancing+Script&family=Montserrat:ital,wght@0,400;1,300&family=Nuosu+SIL&family=Oswald:wght@300;500&family=Rubik:wght@300&family=Staatliches&display=swap');
 :root{
    --color-white : white;
    --button-color:#964b4bc4;
    --background-card: #f3cbd652;
    --ff--Cormorant-Garamond:'Cormorant Garamond',serif;

 }
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Lato", sans-serif;
    background-color:var(--background-card);
  
}

.login-container {
  position: relative;
  top: 3%;
  margin: auto;
  background-color: var(--button-color);
  color: var(--color-white);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
  width: 40%;
  height:550px;
}

h2{
    font-family: var(--ff--Cormorant-Garamond);
    font-size: 3em;
    text-align: center;
}
.btn {
    width: 25%;
    height: 4vh;
    border-radius: 5px;
    margin: 1.5rem 0;
    border: none;
    background-color: #f3cbd6;
    color: var(--button-color);
    font-size: 30px;
}
label{
    font-size:1.5em;

}
.btn:active {
  transform: scale(0.95);
}

i.far.fa-eye {
  cursor: pointer;
}

/* .form-field input {
  color: #ddd;
} */

.alert-message {
  visibility: hidden;
}

.form-field.error input {
  border:.15em rgb(165, 32, 32) solid;
}

.form-field.success input {
  border: .15em rgb(104, 150, 35) solid;


}
input{
    width: 15em;
    border-radius: 0.3em;
    height: 45px;
    background-color:#ffeaf0;
    padding:5px;
    font-size:1.5em;
    color:black;
}
input:focus{
    outline:none;
}
main{
    display: flex;
    justify-content: space-between;
    height:100vh;
}
.imgSection{
    display: flex;
    flex-direction: column-reverse;
    border-top-right-radius:5%;
    border-bottom-right-radius:5%;
    width: 40%;
}
.imgSection img{
    margin-left: 20%;
    width: 28em;
    height:20em;
}   