@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Cairo&family=Charis+SIL&family=Cormorant+Garamond:ital,wght@1,300;1,400&family=Cormorant:wght@300&family=Dancing+Script&family=Montserrat:ital,wght@0,400;1,300&family=Nuosu+SIL&family=Oswald:wght@300;500&family=Rubik:wght@300&family=Staatliches&display=swap');
:root{

--margin-header :2em;
--margin-card:1em;

--color-white : white;
--button-color:#964b4b;
--button-radius:.5em;
--button-padding:.3em;
--background-card: #f3cbd652;

--transition-1: 0.25s ease;
--transition-2:0.5s ease;

--fw-800: 800;
--fs-a:1.5em;
--fs-h1:2em;
--ff-Cormorant-Garamond:'Cormorant Garamond',serif;
}
*{
margin:0;
padding:0;
box-sizing: border-box;
}
html{
    font-family:var(--ff-Cormorant-Garamond);
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 100vh;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.753)  ),
    url(./assets/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    color:var(--color-white);

}
.header{ 
       display: flex;
    justify-content:space-between;
}
header h1{
    display:inline-flex;
    margin:.8em;
    margin-left: var(--margin-header);
    margin: 0.8em;
  
}
header ul{  
    width:100%;
    display: flex;
    gap: 5px;
}
header ul li { 
    margin:var(--margin-header);
    list-style: none;
    padding-top:var(--button-padding);
}
 a {
    font-size: var(--fs-a);
    text-decoration: none;
    color: inherit;
}
.titles{
    margin-left: var(--margin-header);
    text-align: center;
    font-size: var(--fs-h1);
    color: var(--button-color);
}
.contentpage:hover{
     color:var(--button-color);
}

.signup ,
.signin 
 {
 background-color: var(--color-white);
 color:var(--button-color);
 width: 150px;
 height: 50px;
 border-radius:var(--button-radius);
 display:flex;
 justify-content:center ;

}
.signup:hover ,
.signin:hover,.shopNow:hover{
    background-color: var(--button-color);
    color:var(--color-white);
}
#products{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;

}
.card{
    margin: var(--margin-header);
    transition: var(--transition-2);
    background-color:var(--background-card);
    border-radius:var(--button-radius);
    max-width:350px;
    height:400px;
}
.productinfo{
    display: flex;
    justify-content:space-between;
    margin: var(--margin-card)
}
.imgProduct{
    border-radius:var(--button-radius);
    transition: var(--transition-2);
    object-fit: cover;
    width: 300px;
    height: 250px;
}
.shopNow {
    border: .15em var(--button-color) solid ;
    background-color: white;
    border-radius:var(--button-radius);
    padding-top:var(--button-padding);
    margin: auto;
    width: 60px;
    height:35px;
    color:var(--button-color );
    
}
.footer {
    font-size: var(--fs-a);
    background-color: var(--background-card);
    color: var(--color-white);
}

.footer-brand-list li:not(:last-child) {
    margin-block-end: 15px;
}

.footer-brand-title,
.footer-list-title {
    color: var(--color-white);
    font-family: var(--ff-Cormorant-Garamond);
}

.footer-list-title {
    font-size: var(--fs-a);
    font-weight: var(--fw-800);
    margin-block-end: 28px;
}

.footer-list-title::before {
    bottom: 0;
    width: 70px;
    height: 1px;

}

.footer-list>li:not(:first-child) {
    margin-block-start: 12px;
}

.footer-link {
    transition: var(--transition-1);
}

.footer-link:not(.address):is(:hover, :focus) {
    color: var(--button-color);
}

.footer-list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.footer-list-item .icon {
    background-color: var(--button-color);
    color: var(--white);
    font-size: 24px;
    padding: 8px;
    border-radius: 50px;
}
.footer-list , .footer-bottom-list{
    list-style: none;
}


.footer-form {
    position: relative;
    margin-block-end: 30px;
}

.footer-form .input-field {
    background-color: var(--white);
    background-color: var(--button-color);
    padding-block: 18px;
    padding-inline: 30px 80px;
    border-radius: var(--radius-10);
}

.footer-form .input-field::placeholder {
    background-color: var(--button-color);
}

.footer-form .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    padding: 0;
    font-size: 26px;
    padding-inline: 12px;
}

.footer-form .btn-primary:is(:hover, :focus) {
    background-color:var(--button-color);
    color: var(--white);
    box-shadow: none;
}
.social-list {
    display: flex;
    gap: 15px;
}

.social-link {
    background-color: var(--white_20);
    color: var(--color-white);
    padding: 13px;
    border-radius: 50%;
    transition: var(--transition-1);
}

.social-link:is(:hover, :focus) {
    background-color: var(--button-color);
}

.footer-bottom {
    background-color:var(--button-color);
    color: var(--color-white);
    text-align: center;
    padding-block: 15px;
}

.copyright-link {
    display: inline-block;
    color: var(--button-color);
}

.footer-bottom-list {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-block-start: 10px;
}

.footer-bottom-link {
    padding-inline-start: 20px;
    transition: var(--transition-1);
}

.footer-bottom-link::before {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 10px;
    height: 10px;
    background-color: var(--button-color);
    border-radius: 50%;
}

.footer-bottom-link:is(:hover, :focus) {
    color: var(--button-color);
}
.footer-top .container {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
container{
    margin-top:30px
}
.footer a{
    color: var(--background-card);
    font-size:1em
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
/* scroll up
.back-top-btn {
    position: fixed;
    bottom: 20px;
    right: 40px;
    background-color: var(--coquelicot);
    color: var(--rich-black-fogra-29-1);
    font-size: 20px;
    padding: 11px;
    border-radius: 50%;
    border: 2px solid var(--rich-black-fogra-29-1);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-1);
    z-index: 4;
}

.back-top-btn.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(-10px);
} */
